body {
     background-color: #fdfbf7; 
     color: #3e2723;
}


table, tr, th, td {
            border: 5px solid rgb(0, 0, 0);
            border-collapse: collapse;
        } 

* {
    font-family: "Verdana", "Arial";
}

.firstLink a {
    background-color: rgb(255, 255, 255);
}

/* Make anchors appear interactive */
a.times, a.animals { cursor: pointer; }
head {
padding: 30px;
}
h1 {
    background-color: #2e7d3209; 
     border-radius: 8px;
}
* {
    font-family: "Coral Pixels", serif;
}

.navbar {
    background-color: antiquewhite;
    padding-bottom: 10px;
}
/* Allow absolute items inside navbar to be positioned relative to nav */
.navbar { position: relative; }
.times {
        flex-direction: column;
}
a.times {
    position: absolute;
    right: 20px;
    top: 10px;
}
iframe.times {
    display: none;
    position: absolute;
    right: 20px;
    top: 40px;
    width: 300px;
    height: 200px;
    z-index: 999;
}
/* Show the iframe when hovering the link; keep it visible when hovering the iframe */
a.times:hover + iframe.times,
iframe.times:hover {
    display: block;
}
.animals {
    flex-direction: column;
    position: absolute;
    right: 140px;
}
iframe.animals {
    display: none;
    position: absolute;
    right: 140px;
    top: 40px;
    width: 300px;
    height: 200px;
    z-index: 999;
}
/* .animals duplicate removed above; see earlier .animals block */

a.animals:hover + iframe.animals,
iframe.animals:hover {
    display: block;
}
/*https://stackoverflow.com/questions/18749276/css-on-hover-show-another-element*/