.required{
color: red;
display: inline-block;
}
*{
font-family: "Google Sans Flex", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "wdth" 100,
    "GRAD" 0,
    "ROND" 0;
}
div{
  background-color:white;
  border-radius:8px;
  margin-bottom:12px;
  padding:24px;
  page-break-inside:avoid;
  width: 638px;
  margin-left: auto;
  margin-right: auto;

}
div:has(input:invalid){
  border-color:red;
}
div:has(input:valid){
  border-color:white;
}
html,body{
background-color: rgb(239,235,247);
}
div.top{
  background-color: rgb(97,60,176);
  border-radius:8px 8px 0 0;
  border-top-right-radius:8px;
  page-break-inside:avoid;
  word-wrap:break-word;
  margin-bottom:0;
  height: 10px;
  padding-bottom:0;
  padding-top:0;
  padding-left:24px;
  padding-right:24px;
}
div.header{
  margin-top:0;
  margin-bottom:2px;
  border-radius:0 0 0 0;
  padding-top:10px;
}
#emailAddress{
  margin-top:0;
  margin-bottom:2px;
  border-radius: 0 0 0 0;
}
#requiredQuestionExplained{
  margin-top:0;
  border-radius: 0 0 8px 8px;
  padding-bottom:2px;
  padding-top:10px;
}
h1{
  margin-top:0;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
#fournine{
  margin-left:49%;
}
p{
  font-size: 14px;
  margin-top:0;
}
input{
  border-top:none;
  border-left:none;
  border-right:none;
  border-bottom:2px solid gray;
  outline:none;
  transition: border-color 0.3s;
  border-color: rgb(224,224,224);
}
input:focus{
  border-color: rgb(97,60,176);
  transition: border-color: 0.3s;
}
input:invalid{
  border-color: red;
fieldset{
  border:none;
}
input[type="checkbox"]{
  appearance: none;
  background-color: #fff;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;
  transform: translateY(-0.075em);
  display: grid;
}
#notSharedIcon{
  position:relative;
  top: 3px;
}
#submit{
  background-color: rgb(97,60,176);
 }
fieldset{
  border:none;
} 
