h3 {
    font-weight: bold;
    color:darkgoldenrod;
    transition: font-style 1s;
}
header {
    color: rgb(255,228,255);
    text-align:right;
    transition:color 1s;
}
header:hover {
    color: rgb(185,158,185);
    text-align:right;
    transition: color 1s;
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: rgb(255,228,255);
    text-align: center;
    transition: color 1s;
}
footer:hover {
    color: rgb(185,158,185);
    text-align: center;
    transition: color 1s;
}
a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: color 1s;
}
a:hover {
    color:blue;
    text-decoration: none;
    transition: color 1s;
}
body {
    background:black;
}
div {background:midnightblue}
