.navElement {
  transition: all 1s ease; 
  backdrop-filter: blur(1px);
  cursor:pointer;
  width: fit-content;
  background-color: transparent;
  border-radius: 5px;
  padding: 2px;
}

.navElement:hover {
  backdrop-filter: blur(5px); 
  cursor: pointer;
  transition: all 1s ease;
  width: fit-content;
  background-color: rgba(240, 248, 255, 0.156);
}
body {
    background-image: url('media/test.jpg');
}
#navMenu {
    display: grid;
    grid-template: 'rightNav centerNav leftNav';
}
#rightNav {
    grid-row:1;
    grid-column: 1;
}
#leftNav