.glass-element {
  /* Surface */
  background-color: rgba(255, 255, 255, 0.28);
  color: #ffffff;
  
  /* Blurring & Saturation */
  backdrop-filter: blur(40px) saturate(200%) brightness(200%);
  -webkit-backdrop-filter: blur(40px) saturate(200%) brightness(200%);
  
  /* Border & Radius */
  border: 5px solid rgba(255, 255, 255, 0);
  border-radius: 30px;
  
  /* Shadow & Light Bending Simulation */
  box-shadow: 
    -30px 0px 50px rgba(0, 0, 0, 1),
    inset 0 0 0 1px rgba(255, 255, 255, 0.1),
    inset 0 1px 0 0 rgba(255, 255, 255, 0.2);
}